.hover(@color: @input-hover-border-color) {
    border-color: tint(@color, 20%);
}
.active(@color: @input-hover-border-color) {
    border-color: tint(@color, 20%);
    outline: none;
    box-shadow: 0 0 0 2px fade(@color, 20%);
}
.disabled() {
    opacity: 1;
    color: #ccc;
    cursor: @cursor-disabled;
    background-color: @input-disabled-bg;
    &:hover {
        .hover(@input-border-color);
    }
}
.input-affix-wrapper(@inputClass) {
    display: table;
    width: 100%;
    border-radius: @border-radius-base;
    border: 1px solid @input-border-color;
    .@{inputClass} {
        border: none;
    }
    &-focus {
        .active();
        .@{inputClass} {
            &:focus {
                border-color: transparent;
                box-shadow: none;
            }
        }
    }
    .@{inputClass}-prefix,
    .@{inputClass}-suffix {
        display: table-cell;
    }
    // .@{inputClass}-prefix {
    //     left: @input-padding-horizontal + 1px;
    // }
    // .@{inputClass}-suffix {
    //     right: @input-padding-horizontal + 1px;
    // }
    // .@{inputClass}:not(:first-child) {
    //     padding-left: @input-affix-width;
    // }
    // .@{inputClass}:not(:last-child) {
    //     padding-right: @input-affix-width;
    // }
    &:hover {
        .hover();
    }
}
.input() {
    width: 100%;
    height: @input-height-base;
    color: @input-color;
    font-size: @font-size-small;
    background-color: @input-bg;
    line-height: @line-height-base;
    border-radius: @border-radius-base;
    border: 1px solid @input-border-color;
    padding: @input-padding-vertical-base @input-padding-horizontal;
    transition: border @transition-time @ease-in-out, background @transition-time @ease-in-out, box-shadow @transition-time @ease-in-out;
    .placeholder();
    &:hover {
        .hover();
    }
    &:focus {
        .active();
    }
    &[disabled] {
        .disabled();
    }
}
.input-group(@inputClass) {
    display: table;

    &-addon,
    > .@{inputClass},
    > .@{inputClass}-affix-wrapper {
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }
    &-addon,
    > .@{inputClass} {
        display: table-cell;
    }

    > .@{inputClass}-affix-wrapper:first-child,
    > .@{inputClass}:first-child,
    &-addon:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    > .@{inputClass}-affix-wrapper:last-child,
    > .@{inputClass}:last-child,
    &-addon:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    &-addon {
        background-color: #eee;
        border: 1px solid @input-border-color;
        border-radius: @border-radius-base;
    }

    &-addon:first-child {
        border-right: 0;
    }

    &-addon:last-child {
        border-left: 0;
    }
}
